<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tutorials180.fadp42app">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FADP42App">
        <activity
            android:name=".ServicePackage.ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".BrWorking.BRWorkingActivity"
            android:exported="false" />
        <activity
            android:name=".FBWorking.FirestoreWorkingActivity"
            android:exported="false" />
        <activity
            android:name=".RoomLib.RoomLibActivity"
            android:exported="false" />
        <activity
            android:name=".GeoLocations.GeoLocationActivity"
            android:exported="false" />
        <activity
            android:name=".SMSManager.SMSManagerActivity"
            android:exported="false" />
        <activity
            android:name=".CustomListAdapter.CustomListActivity"
            android:exported="false" />
        <activity
            android:name=".Adapters.AdapterActivity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".ServicePackage.MyService"/>
    </application>

</manifest>